<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>列表的过滤</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="root">
    <input type="text" placeholder="请输入名字" v-model="keyword">
    <ul>
      <li v-for="(p,index) in filPersons" :key="index">
        {{p.name}}-{{p.age}}-{{p.sex}}
      </li>
    </ul>
    <ul>
  </div>
</body>
<script>
  //用watch实现
  // const vm = new Vue({
  //   el: '#root',
  //   data: {
  //     persons: [
  //       { id: '001', name: '马冬梅', age: '18', sex: '女' },
  //       { id: '002', name: '周冬雨', age: '19', sex: '女' },
  //       { id: '003', name: '周杰伦', age: '20', sex: '男' },
  //       { id: '004', name: '周兆伦', age: '21', sex: '男' },
  //     ],
  //     filPersons: [

  //     ],
  //     keyword: '',
  //   },
  //   watch: {
  //     keyword: {
  //       handler(newvalue) {
  //         //if (newvalue === null) this.filPersons = this.persons;
  //         this.filPersons = this.persons.filter(
  //           (p) => {
  //             return p.name.indexOf(newvalue) !== -1;
  //           }
  //         );
  //       },
  //       immediate: true
  //     }
  //   }
  // });

  //用computed实现
  const vm = new Vue({
    el: '#root',
    data: {
      persons: [
        { id: '001', name: '马冬梅', age: '18', sex: '女' },
        { id: '002', name: '周冬雨', age: '19', sex: '女' },
        { id: '003', name: '周杰伦', age: '20', sex: '男' },
        { id: '004', name: '周兆伦', age: '21', sex: '男' },
      ],
      keyword: '',
    },
    computed:{
      filPersons(){
        return this.persons.filter(
            (p) => {
              return p.name.indexOf(this.keyword) !== -1;
            }
          );
      }
    }
  });
</script>

</html>