<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>列表的过滤</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="root">
    <input type="text" placeholder="请输入名字" v-model="keyword">
    <button @click="sortType=2;">年龄降序</button>
    <button @click="sortType=1;">原顺序</button>
    <button @click="sortType=0;">年龄升序</button>
    <ul>
      <li v-for="(p,index) in filPersons" :key="p.id">
        {{p.name}}-{{p.age}}-{{p.sex}}
      </li>
    </ul>
    <ul>
  </div>
</body>
<script>

  //用computed实现
  const vm = new Vue({
    el: '#root',
    data: {
      persons: [
        { id: '001', name: '马冬梅', age: '18', sex: '女' },
        { id: '002', name: '周冬雨', age: '20', sex: '女' },
        { id: '003', name: '周杰伦', age: '19', sex: '男' },
        { id: '004', name: '周兆伦', age: '16', sex: '男' },
      ],
      keyword: '',
      sortType:0//0代表原顺序，1降序，2升序
    },
    computed:{
      filPersons(){
        const arr= this.persons.filter((p) => {
              return p.name.indexOf(this.keyword) !== -1;
        });
        if(this.sortType){
          arr.sort((a,b)=>{
            return this.sortType===1? b.age-a.age:a.age-b.age;
          });
        }
        return arr;
      }
    }
  });
</script>

</html>